@charset "utf-8";

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
}

#container {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: #120000;
  opacity: 0;
  display: none;
}

#pic {
  width: 800px;
  height: 533px;
  background: 0 0 no-repeat;
}

#album {
  opacity: 0;
  display: none;
}