@charset "utf-8";

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
}

#container {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: #120000;
  opacity: 0;
  display: none;
}

#pic {
  width: 800px;
  height: 533px;
  background: 0 0 no-repeat;
}

#album {
  opacity: 0;
  display: none;
}

/* Cutom */

#prelude-wrapper {
  background: #d23939;
}

#prelude-wrapper #prelude-text-layout {
  margin: 20px 0 0 0;
}

#prelude-wrapper #prelude-text {
  color: #efefef;
}

#prelude-wrapper #prelude-slider {
  width: 500px;
  height: 7px;
  margin: 0 auto;
  position: relative;
  background: #d23939;
  border: 2px solid #fff;
  padding: 1px;
}

#prelude-wrapper #prelude-slider span {
  display: block;
  width: 0px;
  height: 5px;
  margin: 1px;
  background: #efefef;
}